<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome GiftXD</title>
</head>

<body>
    <table cellspacing="0" cellpadding="10"
        style="font-family: 'Satoshi', sans-serif; width: 450px; margin-left: auto; margin-right: auto; font-size: medium; line-height: 1.2rem;">
        <tr>
            <td>

                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table style="margin-bottom: 1.25rem;">
                                <tr>
                                    <td>
                                        <img src="https://res.cloudinary.com/du4apheec/image/upload/v1699781826/logo_u983p2.png"
                                            width="75" height="75" style="padding-left: 10px;" alt="GiftXD logo">
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src="https://res.cloudinary.com/du4apheec/image/upload/v1704374680/ejrbaobicrcp8w0zbwv9.png"
                                            width="120px" height="100px" alt="">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="10">
                                <tr>
                                    <td>
                                        <div style="font-weight: bold; font-size: 1.7rem;">Welcome to GiftXD</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #4D4D4D;">Hello </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #4D4D4D;">Thank you for signing up with GiftXD!</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #4D4D4D;">To complete your registration and activate your
                                            account. Please enter the following OTP code on GiftXD. This code expires in
                                            <span style="font-weight: bold; color: black;">{{expiryTime}}</span> hour.
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-weight: bold; font-size: 28px; letter-spacing: 10px">{{otp}}</p>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="10">
                                <tr>
                                    <td>
                                        <div style="font-size: medium;  line-height: 1.2rem; color: #4D4D4D;">If you did
                                            not request to create a GiftXD account, please contact support <a
                                                style="text-decoration: none;"
                                                href="mailto:support@giftxd.team">here</a>.</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="10" style="font-size: 1rem;  line-height: 1rem;">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <div style="color: #4D4D4D;">Thank you,</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="color: #4D4D4D;">The <a style="text-decoration: none;"
                                                            href="mailto:support@giftxd.team">GiftXD</a> Team</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #4D4D4D;">This email was was sent because you signed up for
                                            GiftXD.</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #4D4D4D;">Want to manage your email preferences? <a
                                                style="text-decoration: none;" href="https://www.giftxd.com">Manage</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #4D4D4D;">{{giftxd_address}}</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>




                </table>


            </td>
        </tr>
    </table>



</body>

</html>